.messages {
  margin:0;
  padding:0;
  list-style-type:none;
}

.messages li {
  display:block;
  clear:both;
  max-width:50%;
  margin:0 0 1rem 0;
  padding:0;
  float: right;
}

.messages li.userMsg {
  float:left;
}

.messages p {
  border-radius:.75rem;
  background:#158ffe;
  color:#fff;
  padding:.6875rem;
  margin:0;
  font-size:.875rem;
}

.messages li p.userMsg {
  background:#e6e5eb;
  color:#383641;
}

div.alert {
  background-color: #eee;
  text-align: center;
}

.input-message{
  background-color: #eee;
}

.message-form{
  width: 100%;
}

.message-username{
  font-size: 10px;
}

.notification{
  background-color: #eee;
  text-align: center;
  height: 30px;
}

/* NEW CSS */

/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

input, textarea, .item-input, .item-input-wrapper {
  background-color: #f4f4f4 !important;
}