<ion-view view-title="Chats">

  <ion-content class="padding">
    
  <section class="chats">

    <span ng-repeat="message in messages">
      <span ng-show="!message.notification">
        <p class="username" ng-show="!messageIsMine(message.username)">{{message.username}}</p>
        <div ng-class='getBubbleClass(message.username)'>
          <p ng-bind="message.message"></p>
        </div>
        <div class="clear"></div>
      </span>
      <span ng-show="message.notification">
        <p class="notification" ng-bind="message.message"></p>
      </span>
    </span>

  </section>

  </ion-content>

  <form name="sendMessageForm" ng-submit="sendMessage(data.message)" novalidate>
      <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
          <label class="item-input-wrapper">
              <input id="msg-input" ng-change="updateTyping()" ng-model="data.message" class="input-message" type="text" placeholder="Message">
          </label>
          <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-ios-paperplane footer-btn" type="submit"
                ng-disabled="!data.message || data.message === ''">
            </button>
          </div>
      </ion-footer-bar>
  </form>

</ion-view>
