<ion-tabs class="tabs-striped tabs-background-stable tabs-positive">

  <ion-tab title="Contacts" icon="icon ion-ios7-filing" href="#/tab/chat">
    <ion-nav-view name="tab-chat"></ion-nav-view>
  </ion-tab>

  <!-- <ion-tab title="Chat" icon="icon ion-ios7-people" href="#/tab/people">
    <ion-nav-view name="tab-people"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>